.Headers{
   font-size:30px; background-color: cornflowerblue; color: rgb(4, 67, 67); font-weight: bold;
}
.UID{
    color: cornflowerblue;
}
#Table1{
    border-collapse: collapse;

}
#Course{
    padding-left: 180;
}
.Numbers{
    color: rgb(0, 88, 252);
}
#BigFont {
    font-family: sans-serif;
}
#Phylum {

    margin-left: 7px;
}
.inputs {
    margin-left: 10px;
}
#Name {
    margin-left: 18px;
}
#Submit {
    margin-left: 60px;
}

