img {
    height: 300px;
    width: 400px;
    
}
.Container {
  padding-left: 20px;
  height: 725px;
}
.Container div {
    display: inline-block;
}
@media only screen and (max-width:480px) {
    img {
        height: 150px;
        width: 200px;
        margin-left: 200px;
        margin: 25px;
    }
    .Container {
      padding: 20px;
      height: 725px;
    }
    .Container div {
        display: inline-block;
    }
    
}

@media only screen and (min-width:481px) and (max-width:769px) {
    img {
        height: 300px;
        width: 350px;
        
    }
    .Container {
      padding-left: 20px;
      height: 725px;
    }
    .Container div {
        display: inline-block;
    }
    
}


